{% extends 'base.html' %}
{% comment %} Cargar archivos estáticos {% endcomment %}
{% load static %}
{% comment %} Título de la página {% endcomment %}
{% block title %}ChincoLinux - Linux OS{% endblock %}
{% comment %} Contenido de la página {% endcomment %}

{% block content %}

{% include 'sitio/includes/hero.html' %}

{% include 'sitio/includes/que_es.html' %}

{% include 'sitio/includes/caracteristicas.html' %}

{% include 'sitio/includes/instrucciones.html' %}

{% include 'sitio/includes/contribuye.html' %}

{% endblock content %}