{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'sitio/css/estilo.css' %}" />
    <title>ChincoLinux</title>
  </head>
  <body>
    <section class="hero">
      <img src="{% static 'chincolinux.png' %}" alt="ChincoLinux Logo" />
      <h1>ChincoLinux</h1>
      <p>Una distribución educativa libre para todas las aulas de Chile</p>
      <a class="boton" href="https://github.com/Daniel-um8/ChincoLinux/releases/tag/v1.0-alpha" target="_blank">Descargar ISO - Versión Alfa</a>
    </section>

    <section class="section" id="que-es">
      <div class="container grid-2">
        <div class="reveal from-left">
          <div class="kicker">¿Qué es ChincoLinux?</div>
          <h2 class="title">Una herramienta educativa integral</h2>
          <p class="lead">ChincoLinux es una distribución basada en Debian, pensada para el ámbito educativo chileno. Busca ser un entorno libre, accesible y amigable para estudiantes de enseñanza básica y media y para docentes, incorporando el programa oficial del MINEDUC y sus libros por materia.</p>
          <ul class="list">
            <li>Escuelas y liceos</li>
            <li>Laboratorios de computación</li>
            <li>Aulas digitales</li>
            <li>Entornos de autoaprendizaje</li>
          </ul>
        </div>

        <div class="reveal from-right">
          <div class="img-frame">
            <img src="{% static 'screenshot-chinco.png' %}" alt="Vista de ChincoLinux" />
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'sitio/js/script.js' %}"></script>
  </body>
</html>
