{% load static %}
<section id="heroid">
  <div class="hero">
    <div class="hero-content">
      <h1>Extiende tus alas</h1>
      <p>El sistema operativo ideal para estudiantes, docentes y amantes del software libre en Chile.</p>
      <a class="boton" href="https://github.com/Daniel-um8/ChincoLinux/releases/tag/v1.0-alpha" target="_blank">Descargar ISO - Versión Alfa</a>
    </div>
    <div class="imageContainer">
      <img class="imagen1" src="{% static 'sitio/img/chincol_laptop.png' %}" alt="ChincoLinux" />
    </div>
  </div>
</section>
