{% load static %}
<section class="section" id="sistema_operativo">
  <div class="container grid-2">
    <div class="hover1 reveal from-left">
      <div class="kicker">Sistema Operativo</div>
      <h2 class="title">Una herramienta educativa integral</h2>
      <p class="lead"><b>ChincoLinux</b> es una distribución basada en Debian, pensada para el ámbito educativo chileno. Busca ser un entorno libre, accesible y amigable para estudiantes de enseñanza básica y media y para docentes, incorporando el programa oficial del MINEDUC y sus libros por materia.</p>
      <ul class="list">
        <li>Escuelas y liceos</li>
        <li>Laboratorios de computación</li>
        <li>Aulas digitales</li>
        <li>Entornos de autoaprendizaje</li>
      </ul>
    </div>

    <div class="reveal from-right">
      <div class="img-frame">
        <img src="{% static 'sitio/img/chincol_laptop2.png' %}" alt="Captura" />
      </div>
    </div>
  </div>
</section>